<%- include('./partials/head') %>

<div class="container">

  <%- include('./partials/navbar') %>

  <h1>create</h1>

  <%- include('./partials/form') %>

</div>
   
<%- include('./partials/foot') %> 