<%- include('./partials/head') %>

<div class="container">
  <%- include('./partials/navbar') %>
  <h1>update</h1>
  <%- include('./partials/form', data) %> 
</div>
   
<%- include('./partials/foot') %> 